Repository algorandfoundation/algokit-utils-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, docstrings-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        description: "Run 'ruff format' for extremely fast Python formatting"
        entry: uv run ruff format
        language: system
        types: [python]
        args: []
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"
        pass_filenames: false
        files: "^(src|tests)/"
      - id: lint
        name: lint
        description: "`mypy` and 'ruff' will check Python types for correctness"
        entry: uv run poe lint
        language: system
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"
        pass_filenames: false
        files: "^(src|tests)/"
      - id: docstrings-check
        name: docstrings-check
        description: "Check docstrings for correctness"
        entry: uv run poe docstrings-check
        language: system
        types: [python]
        files: "^(src)/"

chore: temporarily comment out polytest validate in ci
  .github/workflows/check-python.yaml
Due: none

docs: regen docs
  docs/markdown/autoapi/algokit_utils/transactions/transaction_composer/index.md
Due: none

chore: regen clients
  src/algokit_algod_client/client.py
  src/algokit_indexer_client/client.py
  src/algokit_indexer_client/models/_application_log_data.py
  src/algokit_utils/transactions/transaction_composer.py
  tests/modules/algod_client/manual/test_simulate_transactions.py
  tests/modules/algod_client/test_get_v2_status_wait_for_block_after_round.py
  tests/modules/indexer_client/common.py
  tests/modules/indexer_client/manual/test_search_transactions.py
Due: format, docstrings-check

chore: refine mock server fixtures
  src/algokit_utils/accounts/kmd_account_manager.py
  tests/modules/_mock_server.py
  tests/modules/algod_client/conftest.py
  tests/modules/algod_client/manual/test_suggested_params.py
  tests/modules/conftest.py
  tests/modules/indexer_client/conftest.py
  tests/modules/kmd_client/conftest.py
Due: format, docstrings-check

chore: refine pre commit; fix mypy warnings
  .pre-commit-config.yaml
  pyproject.toml
  tests/modules/kmd_client/manual/test_key_management.py
Due: format

test: add KMD client polytest tests
  tests/modules/kmd_client/__snapshots__/test_get_v1_wallets/test_basic_request_and_response_validation.json
  tests/modules/kmd_client/test_delete_v1_key.py
  tests/modules/kmd_client/test_delete_v1_multisig.py
  tests/modules/kmd_client/test_get_swagger_json.py
  tests/modules/kmd_client/test_get_v1_wallets.py
  tests/modules/kmd_client/test_get_versions.py
  tests/modules/kmd_client/test_post_v1_key.py
  tests/modules/kmd_client/test_post_v1_key_export.py
  tests/modules/kmd_client/test_post_v1_key_import.py
  tests/modules/kmd_client/test_post_v1_key_list.py
  tests/modules/kmd_client/test_post_v1_master_key_export.py
  tests/modules/kmd_client/test_post_v1_multisig_export.py
  tests/modules/kmd_client/test_post_v1_multisig_import.py
  tests/modules/kmd_client/test_post_v1_multisig_list.py
  tests/modules/kmd_client/test_post_v1_multisig_sign.py
  tests/modules/kmd_client/test_post_v1_multisig_signprogram.py
  tests/modules/kmd_client/test_post_v1_program_sign.py
  tests/modules/kmd_client/test_post_v1_transaction_sign.py
  tests/modules/kmd_client/test_post_v1_wallet.py
  tests/modules/kmd_client/test_post_v1_wallet_info.py
  tests/modules/kmd_client/test_post_v1_wallet_init.py
  tests/modules/kmd_client/test_post_v1_wallet_release.py
  tests/modules/kmd_client/test_post_v1_wallet_rename.py
  tests/modules/kmd_client/test_post_v1_wallet_renew.py
Due: format

chore: add jitter and polling health check to the mock server fixture
  api/oas-generator/src/oas_generator/renderer/templates/client.py.j2
  src/algokit_algod_client/client.py
  src/algokit_indexer_client/client.py
  src/algokit_kmd_client/client.py
  tests/modules/_mock_server.py
Due: format, docstrings-check

docs: remove mentions of oas shorthand
  api/oas-generator/README.md
Due: none

feat: support updating StructType's in ARC56Contract to support client generator
  src/algokit_abi/arc56.py
Due: format, docstrings-check

build: fix requires-python to be `>=3.10,<4`, previously only matched 3.10.*
  pyproject.toml
  uv.lock
Due: none

chore: refresh docs
  docs/markdown/autoapi/algokit_utils/applications/enums/index.md
  docs/markdown/autoapi/algokit_utils/protocols/typed_clients/index.md
  docs/markdown/autoapi/algokit_utils/transactions/composer_resources/index.md
  docs/markdown/autoapi/algokit_utils/transactions/fee_coverage/index.md
Due: none

chore: add missing py.typed file
  src/algokit_abi/py.typed
Due: none

fix: enable LocalNet dispensing after 30000 rounds
  src/algokit_utils/accounts/kmd_account_manager.py
  tests/transactions/test_transaction_composer.py
Due: format, docstrings-check

test: add KMD client polytest tests (#224)
  tests/modules/kmd_client/__snapshots__/test_get_v1_wallets/test_basic_request_and_response_validation.json
  tests/modules/kmd_client/test_delete_v1_key.py
  tests/modules/kmd_client/test_delete_v1_multisig.py
  tests/modules/kmd_client/test_get_swagger_json.py
  tests/modules/kmd_client/test_get_v1_wallets.py
  tests/modules/kmd_client/test_get_versions.py
  tests/modules/kmd_client/test_post_v1_key.py
  tests/modules/kmd_client/test_post_v1_key_export.py
  tests/modules/kmd_client/test_post_v1_key_import.py
  tests/modules/kmd_client/test_post_v1_key_list.py
  tests/modules/kmd_client/test_post_v1_master_key_export.py
  tests/modules/kmd_client/test_post_v1_multisig_export.py
  tests/modules/kmd_client/test_post_v1_multisig_import.py
  tests/modules/kmd_client/test_post_v1_multisig_list.py
  tests/modules/kmd_client/test_post_v1_multisig_sign.py
  tests/modules/kmd_client/test_post_v1_multisig_signprogram.py
  tests/modules/kmd_client/test_post_v1_program_sign.py
  tests/modules/kmd_client/test_post_v1_transaction_sign.py
  tests/modules/kmd_client/test_post_v1_wallet.py
  tests/modules/kmd_client/test_post_v1_wallet_info.py
  tests/modules/kmd_client/test_post_v1_wallet_init.py
  tests/modules/kmd_client/test_post_v1_wallet_release.py
  tests/modules/kmd_client/test_post_v1_wallet_rename.py
  tests/modules/kmd_client/test_post_v1_wallet_renew.py
Due: format

chore: add support for overriding mock server urls for local dev
  .env.template
  README.md
  tests/modules/_mock_server.py
  tests/modules/conftest.py
Due: format

docs: update migration guide
  MIGRATION-NOTES.md
Due: none

chore: refresh kmd client
  src/algokit_kmd_client/client.py
Due: format, docstrings-check

chore: review fixes
  src/algokit_utils/accounts/kmd_account_manager.py
Due: format, docstrings-check

fix: enable LocalNet dispensing after 30000 rounds (#226)
  src/algokit_utils/accounts/kmd_account_manager.py
  tests/transactions/test_transaction_composer.py
Due: format, docstrings-check

chore: simplify __init__.py
  src/algokit_utils/applications/app_spec/__init__.py
Due: format, docstrings-check

refactor: put abi types in their own submodule
  src/algokit_abi/__init__.py
  src/algokit_abi/_arc32_to_arc56.py
  src/algokit_abi/_arc56_serde.py
  src/algokit_abi/abi.py
  src/algokit_abi/arc56.py
  src/algokit_utils/applications/abi.py
  src/algokit_utils/applications/app_client.py
  src/algokit_utils/transactions/builders/method_call.py
  tests/applications/test_app_factory.py
  tests/modules/abi/test_abi_type.py
  tests/transactions/test_abi_return.py
  tests/transactions/test_transaction_sender.py
Due: format, docstrings-check

refactor: improve error messages for ABIType.from_string
  src/algokit_abi/abi.py
Due: format, docstrings-check

test: increase coverage for ABIType.byte_len
  tests/modules/abi/test_abi_type.py
Due: format

test: increase coverage for ABIType.from_string
  tests/modules/abi/test_abi_type.py
Due: format

refactor: improve error messages for ABIType.encode and decode
  src/algokit_abi/abi.py
  tests/modules/abi/test_abi_type.py
Due: format, docstrings-check

feat: add support for skip tag in oas generator; dropping dryrun
  api/oas-generator/src/oas_generator/builder.py
  docs/markdown/autoapi/algokit_utils/applications/enums/index.md
  docs/markdown/autoapi/algokit_utils/protocols/typed_clients/index.md
  docs/markdown/autoapi/algokit_utils/transactions/composer_resources/index.md
  docs/markdown/autoapi/algokit_utils/transactions/fee_coverage/index.md
  src/algokit_algod_client/client.py
  src/algokit_algod_client/models/__init__.py
  src/algokit_algod_client/models/_dryrun_request.py
  src/algokit_algod_client/models/_dryrun_response.py
  src/algokit_algod_client/models/_dryrun_source.py
  src/algokit_algod_client/models/_dryrun_state.py
  src/algokit_algod_client/models/_dryrun_txn_result.py
  src/algokit_kmd_client/client.py
Due: format, docstrings-check

chore: update branch for oas generator remote source to main
  pyproject.toml
Due: none

chore: further simplify mock server
  tests/modules/_mock_server.py
Due: format

chore: wip aligning with ts account model refinements
  docs/markdown/autoapi/algokit_utils/accounts/account_manager/index.md
  docs/markdown/autoapi/algokit_utils/models/account/index.md
  docs/markdown/autoapi/algokit_utils/protocols/account/index.md
  docs/markdown/autoapi/algokit_utils/protocols/signer/index.md
  src/algokit_algosdk/signer.py
  src/algokit_common/constants.py
  src/algokit_utils/accounts/account_manager.py
  src/algokit_utils/models/account.py
  src/algokit_utils/protocols/account.py
  src/algokit_utils/protocols/signer.py
Due: format, docstrings-check

refactor: adds MX domain separation for arbitrary bytes signing
  docs/markdown/autoapi/algokit_utils/models/account/index.md
  docs/markdown/autoapi/algokit_utils/protocols/account/index.md
  docs/markdown/autoapi/algokit_utils/protocols/signer/index.md
  src/algokit_algosdk/signer.py
  src/algokit_common/constants.py
  src/algokit_utils/models/account.py
  src/algokit_utils/protocols/account.py
  src/algokit_utils/protocols/signer.py
Due: format, docstrings-check

refactor: decouples signing from algokit-algosdk
  docs/markdown/autoapi/algokit_utils/models/account/index.md
  docs/markdown/autoapi/algokit_utils/protocols/account/index.md
  docs/markdown/autoapi/algokit_utils/protocols/signer/index.md
  src/algokit_algosdk/__init__.py
  src/algokit_algosdk/signer.py
  src/algokit_transact/__init__.py
  src/algokit_transact/signer.py
  src/algokit_utils/models/account.py
  src/algokit_utils/protocols/account.py
  src/algokit_utils/protocols/signer.py
  src/algokit_utils/transactions/transaction_composer.py
  tests/transactions/test_transaction_composer.py
Due: format, docstrings-check

refactor: remove backward compatibility for LogicSigAccount and deprecate TransactionSignerAccount
  docs/markdown/autoapi/algokit_utils/accounts/account_manager/index.md
  docs/markdown/autoapi/algokit_utils/models/account/index.md
  src/algokit_utils/accounts/account_manager.py
  src/algokit_utils/models/account.py
Due: format, docstrings-check

docs: add documentation to prevent base type docs appearing
  src/algokit_utils/protocols/typed_clients.py
  src/algokit_utils/transactions/composer_resources.py
  src/algokit_utils/transactions/fee_coverage.py
Due: format, docstrings-check

chore: refresh docs
  docs/markdown/autoapi/algokit_utils/applications/abi/index.md
Due: none

refactor: move signer protocols to algokit_transact.signer
  src/algokit_transact/signer.py
  src/algokit_utils/accounts/account_manager.py
  src/algokit_utils/algorand.py
  src/algokit_utils/applications/app_client.py
  src/algokit_utils/applications/app_factory.py
  src/algokit_utils/assets/asset_manager.py
  src/algokit_utils/clients/client_manager.py
  src/algokit_utils/models/account.py
  src/algokit_utils/protocols/account.py
  src/algokit_utils/protocols/signer.py
  src/algokit_utils/protocols/typed_clients.py
  src/algokit_utils/transactions/transaction_composer.py
  src/algokit_utils/transactions/types.py
  tests/applications/test_app_client.py
Due: format, docstrings-check
