Repository algorandfoundation/algokit-utils-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, docstrings-check

format:
  name: format
  description: Run 'ruff format' for extremely fast Python formatting
  entry: uv run ruff format
  language: system
  args: []
  require_serial: true
  additional_dependencies: []
  minimum_pre_commit_version: 2.9.2
  pass_filenames: false

docstrings-check:
  name: docstrings-check
  description: Check docstrings for correctness
  entry: uv run poe docstrings-check
  language: system

refactor: refines msgpack decoding in api generator and boolean fields in block model
  api/oas-generator/src/oas_generator/builder.py
  api/oas-generator/src/oas_generator/models.py
  api/oas-generator/src/oas_generator/renderer/engine.py
  api/oas-generator/src/oas_generator/renderer/templates/client.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/__init__.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/_serde_helpers.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/block.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/ledger_state_delta.py.j2
  api/specs/compatibility.md
  src/algokit_algod_client/client.py
  src/algokit_algod_client/models/__init__.py
  src/algokit_algod_client/models/_block.py
  src/algokit_algod_client/models/_serde_helpers.py
  src/algokit_common/serde/_core.py
  src/algokit_indexer_client/client.py
  src/algokit_indexer_client/models/_serde_helpers.py
  src/algokit_kmd_client/client.py
  src/algokit_kmd_client/models/_serde_helpers.py
  src/algokit_transact/models/state_proof.py
  tests/modules/algod_client/test_block.py
  tests/modules/algod_client/test_ledger_state_delta.py
Due: format, docstrings-check

test: eliminate test warnings by adding markers
  pyproject.toml
Due: none

refactor: remove unnecessary cast
  src/algokit_common/serde/_core.py
Due: format, docstrings-check

fix: minor tweaks in state delta model after verifying with go algorand
  api/oas-generator/src/oas_generator/renderer/templates/models/ledger_state_delta.py.j2
  src/algokit_algod_client/models/_ledger_state_delta.py
Due: format, docstrings-check

fix: refinements in decoding msgpack and minor bug fixes API generator (#215)
  api/oas-generator/src/oas_generator/builder.py
  api/oas-generator/src/oas_generator/models.py
  api/oas-generator/src/oas_generator/renderer/engine.py
  api/oas-generator/src/oas_generator/renderer/templates/client.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/__init__.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/_serde_helpers.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/block.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/ledger_state_delta.py.j2
  api/specs/algod.oas3.json
  api/specs/indexer.oas3.json
  api/specs/kmd.oas3.json
  pyproject.toml
  src/algokit_algod_client/client.py
  src/algokit_algod_client/models/__init__.py
  src/algokit_algod_client/models/_app_call_logs.py
  src/algokit_algod_client/models/_asset.py
  src/algokit_algod_client/models/_block.py
  src/algokit_algod_client/models/_dryrun_source.py
  src/algokit_algod_client/models/_eval_delta_key_value.py
  src/algokit_algod_client/models/_genesis_file_in_json.py
  src/algokit_algod_client/models/_get_block_tx_ids_response_model.py
  src/algokit_algod_client/models/_pending_transaction_response.py
  src/algokit_algod_client/models/_serde_helpers.py
  src/algokit_algod_client/models/_source_map.py
  src/algokit_algod_client/models/_teal_compile_response_model.py
  src/algokit_algod_client/models/_teal_key_value.py
  src/algokit_common/serde/_core.py
  src/algokit_indexer_client/client.py
  src/algokit_indexer_client/models/_asset.py
  src/algokit_indexer_client/models/_serde_helpers.py
  src/algokit_indexer_client/models/_transaction.py
  src/algokit_kmd_client/client.py
  src/algokit_kmd_client/models/_serde_helpers.py
  src/algokit_transact/models/state_proof.py
  tests/modules/algod_client/test_block.py
  tests/modules/algod_client/test_ledger_state_delta.py
  tests/modules/transact/common.py
Due: format, docstrings-check

fix: removes duplicate logic signature field from signed transaction in block model
  api/oas-generator/src/oas_generator/renderer/templates/models/block.py.j2
  src/algokit_algod_client/models/_block.py
Due: format, docstrings-check

fix(api): handle unhashable keys in msgpack responses
  api/oas-generator/src/oas_generator/renderer/templates/client.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/block.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/ledger_state_delta.py.j2
  src/algokit_algod_client/client.py
  src/algokit_algod_client/models/_block.py
  src/algokit_algod_client/models/_ledger_state_delta.py
  src/algokit_common/serde/_core.py
  src/algokit_indexer_client/client.py
  src/algokit_kmd_client/client.py
  tests/modules/algod_client/test_ledger_state_delta.py
Due: format, docstrings-check

chore: drop txn leases field
  api/oas-generator/src/oas_generator/renderer/templates/models/ledger_state_delta.py.j2
  src/algokit_algod_client/models/_ledger_state_delta.py
Due: format, docstrings-check

chore: remove typed ledger state delta endpoint support to align with ts constraints; Add Missing ParticipationUpdates model
  api/oas-generator/src/oas_generator/builder.py
  api/oas-generator/src/oas_generator/models.py
  api/oas-generator/src/oas_generator/renderer/engine.py
  api/oas-generator/src/oas_generator/renderer/filters.py
  api/oas-generator/src/oas_generator/renderer/templates/client.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/__init__.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/block.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/ledger_state_delta.py.j2
  src/algokit_algod_client/client.py
  src/algokit_algod_client/models/__init__.py
  src/algokit_algod_client/models/_block.py
  src/algokit_algod_client/models/_get_transaction_group_ledger_state_deltas_for_round_response_model.py
  src/algokit_algod_client/models/_ledger_state_delta.py
  src/algokit_algod_client/models/_ledger_state_delta_for_transaction_group.py
  src/algokit_indexer_client/client.py
  src/algokit_kmd_client/client.py
  tests/modules/algod_client/test_block.py
  tests/modules/algod_client/test_ledger_state_delta.py
Due: format, docstrings-check

fix(api): handle unhashable keys in msgpack responses (#216)
  api/oas-generator/src/oas_generator/builder.py
  api/oas-generator/src/oas_generator/models.py
  api/oas-generator/src/oas_generator/renderer/engine.py
  api/oas-generator/src/oas_generator/renderer/filters.py
  api/oas-generator/src/oas_generator/renderer/templates/client.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/__init__.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/block.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/ledger_state_delta.py.j2
  src/algokit_algod_client/client.py
  src/algokit_algod_client/models/__init__.py
  src/algokit_algod_client/models/_block.py
  src/algokit_algod_client/models/_get_transaction_group_ledger_state_deltas_for_round_response_model.py
  src/algokit_algod_client/models/_ledger_state_delta.py
  src/algokit_algod_client/models/_ledger_state_delta_for_transaction_group.py
  src/algokit_common/serde/_core.py
  src/algokit_indexer_client/client.py
  src/algokit_kmd_client/client.py
  tests/modules/algod_client/test_block.py
  tests/modules/algod_client/test_ledger_state_delta.py
Due: format, docstrings-check

fix: use extra pages available when deploying
  src/algokit_utils/applications/app_deployer.py
  tests/applications/test_app_factory.py
Due: format, docstrings-check

chore: fix audit issues
  .github/workflows/check-python.yaml
  poetry.lock
Due: none

fix: reset max fees when rebuilding composer
  src/algokit_utils/transactions/transaction_composer.py
Due: format, docstrings-check

test: use polytest for transact
  .gitignore
  pyproject.toml
Due: none

Regenerate clients with improved error handling and suggested params
  api/oas-generator/src/oas_generator/builder.py
  api/oas-generator/src/oas_generator/models.py
  api/oas-generator/src/oas_generator/renderer/engine.py
  api/oas-generator/src/oas_generator/renderer/filters.py
  api/oas-generator/src/oas_generator/renderer/templates/client.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/exceptions.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/__init__.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/suggested_params.py.j2
  src/algokit_algod_client/client.py
  src/algokit_algod_client/exceptions.py
  src/algokit_algod_client/models/__init__.py
  src/algokit_algod_client/models/suggested_params.py
  src/algokit_indexer_client/exceptions.py
  src/algokit_kmd_client/exceptions.py
Due: format, docstrings-check

Add vendored algokit_algosdk shim
  src/algokit_algosdk/__init__.py
  src/algokit_algosdk/abi/__init__.py
  src/algokit_algosdk/abi/address_type.py
  src/algokit_algosdk/abi/array_dynamic_type.py
  src/algokit_algosdk/abi/array_static_type.py
  src/algokit_algosdk/abi/base_type.py
  src/algokit_algosdk/abi/bool_type.py
  src/algokit_algosdk/abi/byte_type.py
  src/algokit_algosdk/abi/contract.py
  src/algokit_algosdk/abi/interface.py
  src/algokit_algosdk/abi/method.py
  src/algokit_algosdk/abi/reference.py
  src/algokit_algosdk/abi/string_type.py
  src/algokit_algosdk/abi/transaction.py
  src/algokit_algosdk/abi/tuple_type.py
  src/algokit_algosdk/abi/ufixed_type.py
  src/algokit_algosdk/abi/uint_type.py
  src/algokit_algosdk/account.py
  src/algokit_algosdk/app_access.py
  src/algokit_algosdk/box_reference.py
  src/algokit_algosdk/constants.py
  src/algokit_algosdk/encoding.py
  src/algokit_algosdk/error.py
  src/algokit_algosdk/logic.py
  src/algokit_algosdk/logicsig.py
  src/algokit_algosdk/mnemonic.py
  src/algokit_algosdk/multisig.py
  src/algokit_algosdk/on_complete.py
  src/algokit_algosdk/py.typed
  src/algokit_algosdk/signer.py
  src/algokit_algosdk/source_map.py
  src/algokit_algosdk/transaction.py
  src/algokit_algosdk/util.py
  src/algokit_algosdk/wordlist.py
Due: format, docstrings-check

Align algokit_transact with vendored SDK types
  src/algokit_transact/exceptions.py
  src/algokit_transact/models/app_call.py
  src/algokit_transact/models/state_proof.py
  src/algokit_transact/models/transaction.py
  src/algokit_transact/signing/logic_signature.py
  src/algokit_transact/signing/multisig.py
  src/algokit_transact/signing/types.py
Due: format, docstrings-check

Refactor transaction pipeline with builders and new composer
  src/algokit_utils/transactions/builders/__init__.py
  src/algokit_utils/transactions/builders/app.py
  src/algokit_utils/transactions/builders/asset.py
  src/algokit_utils/transactions/builders/common.py
  src/algokit_utils/transactions/builders/keyreg.py
  src/algokit_utils/transactions/builders/method_call.py
  src/algokit_utils/transactions/builders/payment.py
  src/algokit_utils/transactions/composer_resources.py
  src/algokit_utils/transactions/fee_coverage.py
  src/algokit_utils/transactions/helpers.py
  src/algokit_utils/transactions/transaction_composer.py
  src/algokit_utils/transactions/transaction_creator.py
  src/algokit_utils/transactions/transaction_sender.py
  src/algokit_utils/transactions/types.py
Due: format, docstrings-check

Adopt new composer in clients and drop beta helpers
  src/algokit_utils/accounts/account_manager.py
  src/algokit_utils/accounts/kmd_account_manager.py
  src/algokit_utils/algorand.py
  src/algokit_utils/applications/abi.py
  src/algokit_utils/applications/app_client.py
  src/algokit_utils/applications/app_deployer.py
  src/algokit_utils/applications/app_factory.py
  src/algokit_utils/applications/app_manager.py
  src/algokit_utils/applications/app_spec/arc32.py
  src/algokit_utils/applications/app_spec/arc56.py
  src/algokit_utils/assets/asset_manager.py
  src/algokit_utils/beta/_utils.py
  src/algokit_utils/beta/account_manager.py
  src/algokit_utils/beta/algorand_client.py
  src/algokit_utils/beta/client_manager.py
  src/algokit_utils/beta/composer.py
  src/algokit_utils/clients/client_manager.py
  src/algokit_utils/clients/dispenser_api_client.py
  src/algokit_utils/errors/logic_error.py
  src/algokit_utils/models/account.py
  src/algokit_utils/models/amount.py
  src/algokit_utils/models/application.py
  src/algokit_utils/models/network.py
  src/algokit_utils/models/state.py
  src/algokit_utils/models/transaction.py
  src/algokit_utils/protocols/__init__.py
  src/algokit_utils/protocols/account.py
  src/algokit_utils/protocols/signer.py
  src/algokit_utils/protocols/typed_clients.py
Due: format, docstrings-check

Restore debug trace persistence for simulate
  src/algokit_utils/_debugging.py
  tests/test_debug_utils.py
Due: format, docstrings-check

Update tests for new composer and algod flow
  tests/accounts/test_account_manager.py
  tests/applications/test_app_client.py
  tests/applications/test_app_factory.py
  tests/assets/test_asset_manager.py
  tests/clients/algorand_client/test_transfer.py
  tests/conftest.py
  tests/modules/algod_client/test_pending_transaction_information.py
  tests/modules/algod_client/test_raw_transaction.py
  tests/modules/algod_client/test_simulate_transactions.py
  tests/modules/algod_client/test_suggested_params.py
  tests/modules/indexer_client/common.py
  tests/modules/indexer_client/test_search_applications.py
  tests/modules/indexer_client/test_search_transactions.py
  tests/modules/kmd_client/test_key_management.py
  tests/modules/kmd_client/test_wallet_lifecycle.py
  tests/transactions/test_abi_return.py
  tests/transactions/test_fee_coverage.py
  tests/transactions/test_resource_packing.py
  tests/transactions/test_transaction_composer.py
  tests/transactions/test_transaction_creator.py
  tests/transactions/test_transaction_sender.py
Due: format

Document SDK migration and tweak dependencies
  MIGRATION-NOTES.md
  pyproject.toml
  uv.lock
Due: none

Ensure algosdk available for CI localnet run
  pyproject.toml
  uv.lock
Due: none

Address Copilot feedback and restore composer alias
  docs/markdown/autoapi/algokit_utils/transactions/transaction_composer/index.md
  src/algokit_utils/accounts/account_manager.py
  src/algokit_utils/applications/app_client.py
  src/algokit_utils/models/account.py
  src/algokit_utils/models/amount.py
  src/algokit_utils/transactions/transaction_composer.py
  tests/test_debug_utils.py
Due: format, docstrings-check

test: use ak-polytest main
  pyproject.toml
Due: none

build: run all linting checks even if one task fails
  pyproject.toml
Due: none

feat(abi): implement ABI types including support for structs
  MIGRATION-NOTES.md
  src/algokit_abi/__init__.py
  src/algokit_abi/_abi_type.py
  tests/modules/abi/__init__.py
  tests/modules/abi/test_abi_type.py
  tests/modules/test_modules_exist.py
Due: format, docstrings-check

fix(serde): don't convert bools to ints, as a python bool is an int subtype
  src/algokit_common/serde/_primitives.py
Due: format, docstrings-check

feat(serde): support automatic nested types on dataclasses
  src/algokit_common/serde/_core.py
Due: format, docstrings-check

feat(serde): pass through omit_empty_seq option for nested
  src/algokit_common/serde/_core.py
Due: format, docstrings-check

feat(serde): use field name as alias by default
  src/algokit_common/serde/_core.py
Due: format, docstrings-check

test(abi): update test cases to expect bytes instead of integer sequences from ABIType.decode results
  tests/applications/test_app_client.py
Due: format

feat(arc56): update ARC56 app spec to use new abi types
  src/algokit_utils/applications/abi.py
  src/algokit_utils/applications/app_client.py
  src/algokit_utils/applications/app_deployer.py
  src/algokit_utils/applications/app_factory.py
  src/algokit_utils/applications/app_manager.py
  src/algokit_utils/applications/app_spec/_arc32_to_arc56.py
  src/algokit_utils/applications/app_spec/_arc56_serde.py
  src/algokit_utils/applications/app_spec/arc56.py
  src/algokit_utils/transactions/transaction_composer.py
  tests/applications/test_app_client.py
Due: format, docstrings-check

docs: regen docs
  docs/markdown/autoapi/algokit_utils/applications/abi/index.md
  docs/markdown/autoapi/algokit_utils/applications/app_spec/arc56/index.md
Due: none

refactor: simplify ClientType
  api/oas-generator/src/oas_generator/builder.py
  api/oas-generator/src/oas_generator/models.py
Due: none

refactor: rename ABIType.name to ABIType.display_name ABIType.abi_name to ABIType.name
  src/algokit_abi/_abi_type.py
  src/algokit_utils/applications/app_spec/_arc32_to_arc56.py
  src/algokit_utils/applications/app_spec/_arc56_serde.py
  src/algokit_utils/applications/app_spec/arc56.py
Due: format, docstrings-check

chore: minor pr comments
  src/algokit_algosdk/mnemonic.py
  src/algokit_utils/accounts/account_manager.py
Due: format, docstrings-check

Guard composer merges against overflow and fix method offset
  src/algokit_utils/transactions/transaction_composer.py
Due: format, docstrings-check

Path conditions:
  format: any of: ^(src|tests)/ and \.py$
  docstrings-check: any of: ^(src)/ and \.py$
