Repository algorandfoundation/algokit-utils-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, docstrings-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        description: "Run 'ruff format' for extremely fast Python formatting"
        entry: uv run ruff format
        language: system
        types: [python]
        args: []
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"
        files: "^(src|tests)/"
      - id: ruff
        name: ruff
        description: "Run 'ruff' for extremely fast Python linting"
        entry: uv run ruff check
        language: system
        "types": [python]
        args: [--fix]
        require_serial: false
        additional_dependencies: []
        minimum_pre_commit_version: "0"
        files: "^(src|tests)/"
        exclude: "^tests/artifacts/"
      - id: mypy
        name: mypy
        description: "`mypy` will check Python types for correctness"
        entry: uv run mypy
        language: system
        types_or: [python, pyi]
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"
        files: "^(src|tests)/"
        exclude: "^tests/artifacts/"
      - id: docstrings-check
        name: docstrings-check
        description: "Check docstrings for correctness"
        entry: uv run poe docstrings-check
        language: system
        types: [python]
        files: "^(src)/"

refactor: remove algokit prefix from package folders
  packages/abi/pyproject.toml
  packages/abi/src/algokit_abi/__init__.py
  packages/abi/tests/__init__.py
  packages/abi/tests/test_placeholder.py
  packages/common/README.md
  packages/common/pyproject.toml
  packages/common/src/algokit_common/__init__.py
  packages/common/src/algokit_common/py.typed
  packages/common/tests/__init__.py
  packages/common/tests/test_placeholder.py
  packages/transact/README.md
  packages/transact/pyproject.toml
  packages/transact/src/algokit_transact/__init__.py
  packages/transact/src/algokit_transact/py.typed
  packages/transact/tests/__init__.py
  packages/transact/tests/test_placeholder.py
Due: none

refactor: add algokit prefix to client module names
  packages/algod-client/pyproject.toml
  packages/algod-client/src/algokit_algod_client/__init__.py
  packages/algod-client/src/algokit_algod_client/py.typed
  packages/indexer-client/pyproject.toml
  packages/indexer-client/src/algokit_indexer_client/__init__.py
  packages/indexer-client/src/algokit_indexer_client/py.typed
  packages/kmd-client/pyproject.toml
  packages/kmd-client/src/algokit_kmd_client/__init__.py
  packages/kmd-client/src/algokit_kmd_client/py.typed
Due: none

refactor: move modules from packages into src
  packages/abi/pyproject.toml
  packages/abi/tests/test_placeholder.py
  packages/algod-client/pyproject.toml
  packages/algod-client/tests/test_placeholder.py
  packages/common/README.md
  packages/common/pyproject.toml
  packages/common/src/algokit_common/py.typed
  packages/common/tests/test_placeholder.py
  packages/indexer-client/pyproject.toml
  packages/indexer-client/src/algokit_indexer_client/__init__.py
  packages/indexer-client/src/algokit_indexer_client/py.typed
  packages/indexer-client/tests/test_placeholder.py
  packages/kmd-client/pyproject.toml
  packages/kmd-client/src/algokit_kmd_client/__init__.py
  packages/kmd-client/src/algokit_kmd_client/py.typed
  packages/kmd-client/tests/test_placeholder.py
  packages/transact/pyproject.toml
  packages/transact/src/algokit_transact/__init__.py
  packages/transact/src/algokit_transact/py.typed
  packages/transact/tests/test_placeholder.py
  pyproject.toml
  src/algokit_abi/__init__.py
  src/algokit_algod_client/__init__.py
  src/algokit_algod_client/py.typed
  src/algokit_common/__init__.py
  src/algokit_common/py.typed
  src/algokit_indexer_client/__init__.py
  src/algokit_indexer_client/py.typed
  src/algokit_kmd_client/__init__.py
  src/algokit_kmd_client/py.typed
  src/algokit_transact/__init__.py
  src/algokit_transact/py.typed
  tests/modules/test_abi.py
  tests/modules/test_algod_client.py
  tests/modules/test_indexer_client.py
  tests/modules/test_kmd_client.py
  tests/modules/test_transact.py
  utils-py.code-workspace
  uv.lock
Due: ruff-format, ruff, docstrings-check

refactor: update poe tasks to reduce duplication and movement of modules from packages to src
  .github/workflows/build-python.yaml
  pyproject.toml
Due: none

build: include algokit as a group dependency
  .github/workflows/build-python.yaml
  pyproject.toml
  uv.lock
Due: none

feat: migration to uv and initial structure setup for sub packages from core (#208)
  .editorconfig
  .github/actions/setup-poetry/action.yaml
  .github/workflows/build-python.yaml
  .github/workflows/cd.yaml
  .github/workflows/check-docs.yaml
  .github/workflows/check-python.yaml
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  docs/markdown/autoapi/algokit_utils/applications/enums/index.md
  docs/markdown/autoapi/algokit_utils/protocols/typed_clients/index.md
  poetry.lock
  poetry.toml
  pyproject.toml
  src/algokit_abi/__init__.py
  src/algokit_algod_client/__init__.py
  src/algokit_algod_client/py.typed
  src/algokit_common/__init__.py
  src/algokit_common/py.typed
  src/algokit_indexer_client/__init__.py
  src/algokit_indexer_client/py.typed
  src/algokit_kmd_client/__init__.py
  src/algokit_kmd_client/py.typed
  src/algokit_transact/__init__.py
  src/algokit_transact/py.typed
  src/algokit_utils/applications/abi.py
  tests/modules/test_abi.py
  tests/modules/test_algod_client.py
  tests/modules/test_indexer_client.py
  tests/modules/test_kmd_client.py
  tests/modules/test_transact.py
  uv.lock
Due: ruff-format, ruff, docstrings-check

test: use importlib instead of __import__
  tests/modules/test_modules_exist.py
Due: ruff-format, ruff

test: remove module test for modules with implicit coverage
  tests/modules/test_modules_exist.py
Due: ruff-format, ruff

refactor: remove relative import
  src/algokit_common/serde/__init__.py
Due: ruff-format, ruff, docstrings-check

chore: adding access list support to app calls; aligning constant names with ts version
  src/algokit_common/constants.py
  src/algokit_common/serde/_core.py
  src/algokit_transact/__init__.py
  src/algokit_transact/models/app_call.py
  src/algokit_transact/ops/validate.py
Due: ruff-format, ruff, docstrings-check

chore: updating tests with polytest markings; moving tests not reflected in polytest spec yet below marked ones
  tests/modules/transact/_validation.py
  tests/modules/transact/test_app_call.py
  tests/modules/transact/test_asset_config.py
  tests/modules/transact/test_generic_transaction.py
  tests/modules/transact/test_heartbeat.py
  tests/modules/transact/test_key_registration.py
  tests/modules/transact/test_payment.py
  tests/modules/transact/test_state_proof.py
  tests/modules/transact/test_transaction_group.py
  tests/transactions/test_transaction_composer.py
Due: ruff-format, ruff

feat: jinja api clients generator
  api/oas-generator/README.md
  api/oas-generator/pyproject.toml
  api/oas-generator/src/oas_generator/__init__.py
  api/oas-generator/src/oas_generator/builder.py
  api/oas-generator/src/oas_generator/cli.py
  api/oas-generator/src/oas_generator/config.py
  api/oas-generator/src/oas_generator/loader.py
  api/oas-generator/src/oas_generator/models.py
  api/oas-generator/src/oas_generator/naming.py
  api/oas-generator/src/oas_generator/parser.py
  api/oas-generator/src/oas_generator/py.typed
  api/oas-generator/src/oas_generator/renderer/__init__.py
  api/oas-generator/src/oas_generator/renderer/engine.py
  api/oas-generator/src/oas_generator/renderer/filters.py
  api/oas-generator/src/oas_generator/renderer/templates/client.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/config.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/exceptions.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/__init__.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/_serde_helpers.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/block.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/enum.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/model.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/type_alias.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/package_init.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/types.py.j2
  api/oas-generator/src/oas_generator/writer.py
  api/specs/algod.oas3.json
  api/specs/indexer.oas3.json
  api/specs/kmd.oas3.json
  pyproject.toml
  uv.lock
Due: none

chore: integration tests for kmd indexer and algod
  tests/modules/algod_client/__init__.py
  tests/modules/algod_client/test_block.py
  tests/modules/algod_client/test_pending_transaction_information.py
  tests/modules/algod_client/test_raw_transaction.py
  tests/modules/algod_client/test_simulate_transactions.py
  tests/modules/algod_client/test_transaction_params.py
  tests/modules/conftest.py
  tests/modules/indexer_client/__init__.py
  tests/modules/indexer_client/common.py
  tests/modules/indexer_client/test_search_applications.py
  tests/modules/indexer_client/test_search_transactions.py
  tests/modules/kmd_client/__init__.py
  tests/modules/kmd_client/test_key_management.py
  tests/modules/kmd_client/test_wallet_lifecycle.py
  tests/modules/test_modules_exist.py
Due: ruff-format, ruff

chore: output stability check for generated clients in CI
  .github/workflows/build-python.yaml
Due: none

build: remove `uv run` from poe tasks as poe will do this itself
  pyproject.toml
Due: none

build: remove mypy ignores for client modules
  pyproject.toml
Due: none

build: reduce duplication in client poe tasks
  pyproject.toml
Due: none

refactor: make individual model modules private
  api/oas-generator/src/oas_generator/naming.py
Due: none

refactor: use a more exhaustive list for reserved python words
  api/oas-generator/src/oas_generator/naming.py
Due: none

chore: regenerate clients after reserved words change
  src/algokit_algod_client/models/_avm_value.py
  src/algokit_algod_client/models/_eval_delta.py
  src/algokit_algod_client/models/_teal_compile_response_model.py
  src/algokit_algod_client/models/_teal_value.py
  src/algokit_indexer_client/models/_eval_delta.py
  src/algokit_indexer_client/models/_teal_value.py
Due: ruff-format, ruff, docstrings-check

chore: wip alignment of composer decoupling with equivalent state on ts repo
  MIGRATION-NOTES.md
  src/algokit_utils/transactions/fee_coverage.py
  src/algokit_utils/transactions/transaction_composer.py
Due: ruff-format, ruff, docstrings-check

refactor: decoupling dependencies on algosdk's indexer and kmd clients
  MIGRATION-NOTES.md
  src/algokit_common/constants.py
  src/algokit_utils/accounts/kmd_account_manager.py
  src/algokit_utils/algorand.py
  src/algokit_utils/applications/app_deployer.py
  src/algokit_utils/clients/client_manager.py
Due: ruff-format, ruff, docstrings-check

chore: extra point in migration notes md
  MIGRATION-NOTES.md
Due: none

test: added algod client account endpoint test
  tests/modules/algod_client/test_account.py
Due: ruff-format, ruff

docs: fix updated raise statements in docstrings
  .pre-commit-config.yaml
  api/oas-generator/src/oas_generator/naming.py
  docs/markdown/autoapi/algokit_utils/accounts/kmd_account_manager/index.md
  docs/markdown/autoapi/algokit_utils/algorand/index.md
  docs/markdown/autoapi/algokit_utils/applications/app_deployer/index.md
  docs/markdown/autoapi/algokit_utils/clients/client_manager/index.md
  src/algokit_utils/accounts/kmd_account_manager.py
Due: ruff-format, ruff, docstrings-check

chore: syncing with ts specs and regen
  api/specs/algod.oas3.json
  api/specs/compatibility.md
  api/specs/indexer.oas3.json
  api/specs/kmd.oas3.json
  src/algokit_algod_client/client.py
  src/algokit_algod_client/models/__init__.py
  src/algokit_algod_client/models/_asset.py
  src/algokit_algod_client/models/_dryrun_source.py
  src/algokit_algod_client/models/_eval_delta_key_value.py
  src/algokit_algod_client/models/_genesis_file_in_json.py
  src/algokit_algod_client/models/_get_block_tx_ids_response_model.py
  src/algokit_algod_client/models/_source_map.py
  src/algokit_algod_client/models/_teal_compile_response_model.py
  src/algokit_algod_client/models/_teal_key_value.py
  src/algokit_indexer_client/models/_asset.py
  src/algokit_indexer_client/models/_transaction.py
Due: ruff-format, ruff, docstrings-check

refactor: preserve map keys and fix state-proof serialization
  api/oas-generator/src/oas_generator/builder.py
  api/oas-generator/src/oas_generator/renderer/templates/client.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/_serde_helpers.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/models/block.py.j2
  src/algokit_algod_client/client.py
  src/algokit_algod_client/models/_app_call_logs.py
  src/algokit_algod_client/models/_asset.py
  src/algokit_algod_client/models/_dryrun_source.py
  src/algokit_algod_client/models/_get_block_tx_ids_response_model.py
  src/algokit_algod_client/models/_pending_transaction_response.py
  src/algokit_algod_client/models/_serde_helpers.py
  src/algokit_algod_client/models/block.py
  src/algokit_indexer_client/client.py
  src/algokit_indexer_client/models/_asset.py
  src/algokit_indexer_client/models/_serde_helpers.py
  src/algokit_indexer_client/models/_transaction.py
  src/algokit_kmd_client/client.py
  src/algokit_kmd_client/models/_serde_helpers.py
  src/algokit_transact/models/state_proof.py
  tests/modules/transact/common.py
Due: ruff-format, ruff, docstrings-check

feat: ABI support (WIP)
  MIGRATION-NOTES.md
  src/algokit_abi/__init__.py
  src/algokit_abi/_abi_type.py
  tests/modules/abi/__init__.py
  tests/modules/abi/test_abi_type.py
  tests/modules/test_modules_exist.py
Due: ruff-format, ruff, docstrings-check
