Repository algorandfoundation/algokit-utils-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, docstrings-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        description: "Run 'ruff format' for extremely fast Python formatting"
        entry: uv run ruff format
        language: system
        types: [python]
        args: []
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"
        pass_filenames: false
        files: "^(src|tests)/"
      - id: lint
        name: lint
        description: "`mypy` and 'ruff' will check Python types for correctness"
        entry: uv run poe lint
        language: system
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"
        pass_filenames: false
        files: "^(src|tests)/"
      - id: docstrings-check
        name: docstrings-check
        description: "Check docstrings for correctness"
        entry: uv run poe docstrings-check
        language: system
        types: [python]
        files: "^(src)/"

refactor: reuse AddressWithSigners in SigningAccount
  src/algokit_transact/signer.py
  src/algokit_utils/models/account.py
Due: format, docstrings-check

chore: refresh docs
  docs/markdown/autoapi/algokit_utils/accounts/account_manager/index.md
  docs/markdown/autoapi/algokit_utils/algorand/index.md
  docs/markdown/autoapi/algokit_utils/applications/app_client/index.md
  docs/markdown/autoapi/algokit_utils/applications/app_factory/index.md
  docs/markdown/autoapi/algokit_utils/applications/enums/index.md
  docs/markdown/autoapi/algokit_utils/assets/asset_manager/index.md
  docs/markdown/autoapi/algokit_utils/clients/client_manager/index.md
  docs/markdown/autoapi/algokit_utils/models/account/index.md
  docs/markdown/autoapi/algokit_utils/protocols/account/index.md
  docs/markdown/autoapi/algokit_utils/protocols/signer/index.md
  docs/markdown/autoapi/algokit_utils/protocols/typed_clients/index.md
  docs/markdown/autoapi/algokit_utils/transactions/composer_resources/index.md
  docs/markdown/autoapi/algokit_utils/transactions/fee_coverage/index.md
  docs/markdown/autoapi/algokit_utils/transactions/transaction_composer/index.md
  docs/markdown/autoapi/algokit_utils/transactions/types/index.md
Due: none

refactor: decoupling abi testing (#228)
  docs/markdown/autoapi/algokit_utils/applications/abi/index.md
  src/algokit_abi/__init__.py
  src/algokit_abi/_arc32_to_arc56.py
  src/algokit_abi/_arc56_serde.py
  src/algokit_abi/abi.py
  src/algokit_abi/arc56.py
  src/algokit_utils/applications/abi.py
  src/algokit_utils/applications/app_client.py
  src/algokit_utils/applications/app_spec/__init__.py
  src/algokit_utils/transactions/builders/method_call.py
  tests/applications/test_app_factory.py
  tests/modules/abi/test_abi_type.py
  tests/transactions/test_abi_return.py
  tests/transactions/test_transaction_sender.py
Due: format, docstrings-check

refactor: change test setup to use external mock servers
  .github/workflows/build-python.yaml
  README.md
  tests/modules/_mock_server.py
  tests/modules/algod_client/conftest.py
  tests/modules/indexer_client/conftest.py
  tests/modules/kmd_client/conftest.py
Due: format

chore: tweaks
  .github/workflows/build-python.yaml
  tests/modules/_mock_server.py
  tests/modules/algod_client/conftest.py
  tests/modules/indexer_client/conftest.py
  tests/modules/kmd_client/conftest.py
  uv.lock
Due: format

chore: enable polytest validate in ci for algod, indexer, kmd
  .github/workflows/check-python.yaml
Due: none

refactor: change test setup to use external mock servers without docker (#231)
  .github/workflows/build-python.yaml
  .github/workflows/check-python.yaml
  README.md
  tests/modules/_mock_server.py
  tests/modules/algod_client/conftest.py
  tests/modules/indexer_client/conftest.py
  tests/modules/kmd_client/conftest.py
  uv.lock
Due: format

chore: remove slow stages from pre commit
  .pre-commit-config.yaml
Due: none

refactor: change arc56 method to abi method
  src/algokit_abi/arc56.py
  src/algokit_transact/models/transaction.py
  src/algokit_utils/applications/app_client.py
  src/algokit_utils/applications/app_factory.py
  src/algokit_utils/transactions/transaction_sender.py
  tests/applications/test_app_client.py
Due: format, docstrings-check

feat!: align signing abstractions with algokit-utils-ts PR #465
  src/algokit_transact/__init__.py
  src/algokit_transact/codec/signed.py
  src/algokit_transact/signer.py
  src/algokit_transact/signing/logic_signature.py
  src/algokit_transact/signing/validation.py
  src/algokit_utils/accounts/account_manager.py
  src/algokit_utils/algorand.py
  src/algokit_utils/models/account.py
  src/algokit_utils/protocols/account.py
  src/algokit_utils/protocols/signer.py
  tests/transactions/test_transaction_composer.py
Due: format, docstrings-check

chore: moving logic and multi sigs to transact
  .gitignore
  MIGRATION-NOTES.md
  src/algokit_transact/__init__.py
  src/algokit_transact/logicsig.py
  src/algokit_transact/multisig.py
  src/algokit_utils/models/account.py
  src/algokit_utils/transact.py
  tests/transactions/test_transaction_composer.py
Due: format, docstrings-check

feat: algo25 implementation
  pyproject.toml
  src/algokit_algo25/__init__.py
  src/algokit_algo25/_encoding.py
  src/algokit_algo25/_wordlist.py
  src/algokit_algo25/exceptions.py
  src/algokit_algo25/mnemonic.py
  src/algokit_algo25/py.typed
  tests/modules/algo25/__init__.py
  tests/modules/algo25/test_mnemonic.py
Due: format, docstrings-check

chore: add user facing algo25 export
  src/algokit_utils/algo25.py
Due: format, docstrings-check

refactor: migrate algokit_algosdk dependencies to algokit_common
  docs/markdown/autoapi/algokit_utils/accounts/account_manager/index.md
  docs/markdown/autoapi/algokit_utils/algo25/index.md
  docs/markdown/autoapi/algokit_utils/applications/app_spec/arc32/index.md
  docs/markdown/autoapi/algokit_utils/applications/app_spec/arc56/index.md
  docs/markdown/autoapi/algokit_utils/index.md
  docs/markdown/autoapi/algokit_utils/models/account/index.md
  docs/markdown/autoapi/index.md
  docs/markdown/capabilities/account.md
  src/algokit_common/__init__.py
  src/algokit_common/address.py
  src/algokit_common/constants.py
  src/algokit_transact/logicsig.py
  src/algokit_utils/_debugging.py
  src/algokit_utils/accounts/account_manager.py
  src/algokit_utils/applications/app_client.py
  src/algokit_utils/applications/app_deployer.py
  src/algokit_utils/applications/app_manager.py
  src/algokit_utils/assets/asset_manager.py
  src/algokit_utils/models/amount.py
  src/algokit_utils/transactions/composer_resources.py
  src/algokit_utils/transactions/helpers.py
  src/algokit_utils/transactions/transaction_sender.py
  tests/accounts/test_account_manager.py
  tests/applications/test_app_factory.py
  tests/transactions/test_resource_packing.py
Due: format, docstrings-check

refactor: replace SimulationTrace wrapper with algod client type and rename SendingAddress to ReadableAddress
  docs/markdown/autoapi/algokit_utils/errors/logic_error/index.md
  docs/markdown/autoapi/algokit_utils/models/simulate/index.md
  docs/markdown/autoapi/algokit_utils/transactions/transaction_composer/index.md
  src/algokit_transact/__init__.py
  src/algokit_transact/signer.py
  src/algokit_utils/applications/app_deployer.py
  src/algokit_utils/errors/logic_error.py
  src/algokit_utils/models/simulate.py
  src/algokit_utils/transact.py
  src/algokit_utils/transactions/transaction_composer.py
  tests/applications/test_app_client.py
Due: format, docstrings-check

fix(ci): install algokit CLI separately to avoid import conflict
  .github/workflows/build-python.yaml
  pyproject.toml
Due: none

refactor(ci): remove unused py-algorand-sdk dep and use uvx for algokit
  .github/workflows/build-python.yaml
  pyproject.toml
Due: none

chore: refresh clients and tests with updated specs
  src/algokit_indexer_client/models/_transaction_application.py
  src/algokit_indexer_client/models/_transaction_signature_logicsig.py
  tests/modules/indexer_client/__snapshots__/test_get_v2_accounts_account_id_transactions/test_basic_request_and_response_validation.json
  tests/modules/indexer_client/__snapshots__/test_get_v2_assets_asset_id_transactions/test_basic_request_and_response_validation.json
  tests/modules/indexer_client/__snapshots__/test_get_v2_blocks_round_number/test_basic_request_and_response_validation.json
Due: format, docstrings-check

fix: include ApplyData in block exports
  api/oas-generator/src/oas_generator/renderer/engine.py
  src/algokit_algod_client/models/__init__.py
Due: format, docstrings-check

chore: refresh uv.lock
  uv.lock
Due: none

refactor: simplify LogicSigAccount, MultisigAccount and program validation
  src/algokit_transact/logicsig.py
  src/algokit_transact/multisig.py
  src/algokit_transact/signing/validation.py
Due: format, docstrings-check

refactor: refresh indexer client, and include ApplyData in algod client models (#234)
  api/oas-generator/src/oas_generator/renderer/engine.py
  src/algokit_algod_client/models/__init__.py
  src/algokit_indexer_client/models/_transaction_application.py
  src/algokit_indexer_client/models/_transaction_signature_logicsig.py
  tests/modules/indexer_client/__snapshots__/test_get_v2_accounts_account_id_transactions/test_basic_request_and_response_validation.json
  tests/modules/indexer_client/__snapshots__/test_get_v2_assets_asset_id_transactions/test_basic_request_and_response_validation.json
  tests/modules/indexer_client/__snapshots__/test_get_v2_blocks_round_number/test_basic_request_and_response_validation.json
Due: format, docstrings-check

fix: adjust resource population for new account reference max
  src/algokit_utils/transactions/composer_resources.py
Due: format, docstrings-check

chore: remove duplicate max group size constant
  src/algokit_common/constants.py
  src/algokit_transact/ops/group.py
  src/algokit_utils/transactions/transaction_composer.py
  tests/modules/transact/test_transaction_group.py
Due: format, docstrings-check

docs: refresh docs
  docs/markdown/autoapi/algokit_utils/transactions/transaction_composer/index.md
Due: none

fix: account refs (#235)
  docs/markdown/autoapi/algokit_utils/transactions/transaction_composer/index.md
  src/algokit_common/constants.py
  src/algokit_transact/ops/group.py
  src/algokit_utils/transactions/composer_resources.py
  src/algokit_utils/transactions/transaction_composer.py
  tests/modules/transact/test_transaction_group.py
Due: format, docstrings-check

feat!: align Python API with TypeScript naming conventions
  docs/markdown/autoapi/algokit_utils/transactions/builders/common/index.md
  docs/markdown/autoapi/algokit_utils/transactions/transaction_composer/index.md
  docs/markdown/capabilities/transaction.md
  docs/source/capabilities/transaction.md
  src/algokit_transact/logicsig.py
  src/algokit_transact/models/app_call.py
  src/algokit_transact/models/transaction.py
  src/algokit_transact/multisig.py
  src/algokit_transact/ops/validate.py
  src/algokit_transact/signing/multisig.py
  src/algokit_transact/signing/types.py
  src/algokit_utils/transactions/builders/app.py
  src/algokit_utils/transactions/builders/common.py
  src/algokit_utils/transactions/builders/method_call.py
  src/algokit_utils/transactions/composer_resources.py
  src/algokit_utils/transactions/transaction_composer.py
  tests/applications/test_app_client.py
  tests/applications/test_app_factory.py
  tests/modules/transact/_validation.py
  tests/modules/transact/common.py
  tests/modules/transact/test_app_call.py
  tests/modules/transact/test_generic_transaction.py
  tests/transactions/test_resource_packing.py
  tests/transactions/test_transaction_composer.py
  tests/transactions/test_transaction_creator.py
  tests/transactions/test_transaction_sender.py
Due: format, docstrings-check

fix: align reference type attribute names with wire format using metadata
  api/oas-generator/src/oas_generator/builder.py
  api/oas-generator/src/oas_generator/models.py
  api/oas-generator/src/oas_generator/renderer/templates/models/__init__.py.j2
  src/algokit_algod_client/models/__init__.py
  src/algokit_algod_client/models/_application_local_reference.py
  src/algokit_algod_client/models/_asset_holding_reference.py
  src/algokit_algod_client/models/_box_reference.py
  src/algokit_algod_client/models/_simulate_unnamed_resources_accessed.py
  src/algokit_transact/models/app_call.py
  src/algokit_utils/transactions/composer_resources.py
  src/algokit_utils/transactions/transaction_composer.py
Due: format, docstrings-check

refactor: align against latest specs with plural num_* keys aligning with transact naming
  src/algokit_algod_client/models/_application_state_schema.py
  src/algokit_indexer_client/models/_application_state_schema.py
  src/algokit_indexer_client/models/_state_schema.py
  src/algokit_utils/applications/app_manager.py
  tests/modules/algod_client/__snapshots__/test_get_v2_accounts_address/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_accounts_address_applications_application_id/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_applications_application_id/test_basic_request_and_response_validation.json
  tests/modules/indexer_client/__snapshots__/test_get_v2_accounts_account_id/test_basic_request_and_response_validation.json
  tests/modules/indexer_client/__snapshots__/test_get_v2_accounts_account_id_created_applications/test_basic_request_and_response_validation.json
  tests/modules/indexer_client/__snapshots__/test_get_v2_accounts_account_id_transactions/test_basic_request_and_response_validation.json
  tests/modules/indexer_client/__snapshots__/test_get_v2_applications/test_basic_request_and_response_validation.json
  tests/modules/indexer_client/__snapshots__/test_get_v2_applications_application_id/test_basic_request_and_response_validation.json
  tests/modules/indexer_client/__snapshots__/test_get_v2_assets_asset_id_transactions/test_basic_request_and_response_validation.json
  tests/modules/indexer_client/__snapshots__/test_get_v2_blocks_round_number/test_basic_request_and_response_validation.json
Due: format, docstrings-check

chore: temporarily change branch to point to pr on oas generator with new specs
  pyproject.toml
Due: none

chore: set schemas branch back to main
  pyproject.toml
Due: none

refactor: decouples reference type attribute names (#237)
  api/oas-generator/src/oas_generator/builder.py
  api/oas-generator/src/oas_generator/models.py
  api/oas-generator/src/oas_generator/renderer/templates/models/__init__.py.j2
  src/algokit_algod_client/models/__init__.py
  src/algokit_algod_client/models/_application_local_reference.py
  src/algokit_algod_client/models/_application_state_schema.py
  src/algokit_algod_client/models/_asset_holding_reference.py
  src/algokit_algod_client/models/_box_reference.py
  src/algokit_algod_client/models/_simulate_unnamed_resources_accessed.py
  src/algokit_indexer_client/models/_application_state_schema.py
  src/algokit_indexer_client/models/_state_schema.py
  src/algokit_transact/models/app_call.py
  src/algokit_utils/applications/app_manager.py
  src/algokit_utils/transactions/composer_resources.py
  src/algokit_utils/transactions/transaction_composer.py
  tests/modules/algod_client/__snapshots__/test_get_v2_accounts_address/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_accounts_address_applications_application_id/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_applications_application_id/test_basic_request_and_response_validation.json
  tests/modules/indexer_client/__snapshots__/test_get_v2_accounts_account_id/test_basic_request_and_response_validation.json
  tests/modules/indexer_client/__snapshots__/test_get_v2_accounts_account_id_created_applications/test_basic_request_and_response_validation.json
  tests/modules/indexer_client/__snapshots__/test_get_v2_accounts_account_id_transactions/test_basic_request_and_response_validation.json
  tests/modules/indexer_client/__snapshots__/test_get_v2_applications/test_basic_request_and_response_validation.json
  tests/modules/indexer_client/__snapshots__/test_get_v2_applications_application_id/test_basic_request_and_response_validation.json
  tests/modules/indexer_client/__snapshots__/test_get_v2_assets_asset_id_transactions/test_basic_request_and_response_validation.json
  tests/modules/indexer_client/__snapshots__/test_get_v2_blocks_round_number/test_basic_request_and_response_validation.json
Due: format, docstrings-check

fix: update urllib3 for audit issue
  poetry.lock
Due: none

fix: update urllib3 for audit issue (#239)
  poetry.lock
Due: none

4.2.3
  CHANGELOG.md
  pyproject.toml
Due: none
