Repository algorandfoundation/algokit-utils-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, docstrings-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        description: "Run 'ruff format' for extremely fast Python formatting"
        entry: uv run ruff format
        language: system
        types: [python]
        args: []
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"
        pass_filenames: false
        files: "^(src|tests)/"
      - id: lint
        name: lint
        description: "`mypy` and 'ruff' will check Python types for correctness"
        entry: uv run poe lint
        language: system
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"
        pass_filenames: false
        files: "^(src|tests)/"
      - id: docstrings-check
        name: docstrings-check
        description: "Check docstrings for correctness"
        entry: uv run poe docstrings-check
        language: system
        types: [python]
        files: "^(src)/"

Add result_on_failure simulate option to mirror TS
  src/algokit_utils/transactions/transaction_composer.py
Due: format, docstrings-check

Align composer resource flags, simulation defaults, and logging
  docs/markdown/autoapi/algokit_utils/transactions/transaction_composer/index.md
  src/algokit_utils/transactions/transaction_composer.py
Due: format, docstrings-check

Remove BuildComposerTransactionsError
  src/algokit_utils/transactions/transaction_composer.py
Due: format, docstrings-check

Stop using BuildComposerTransactionsError during resource analysis
  src/algokit_utils/transactions/transaction_composer.py
Due: format, docstrings-check

Enrich send error handling with traces and sent transactions
  src/algokit_utils/transactions/transaction_composer.py
Due: format, docstrings-check

Derive method call metadata on demand
  src/algokit_utils/transactions/transaction_composer.py
Due: format, docstrings-check

Adjust send logging to past tense
  src/algokit_utils/transactions/transaction_composer.py
Due: format, docstrings-check

Handle throw_on_failure kwarg in simulate
  docs/markdown/autoapi/algokit_utils/transactions/transaction_composer/index.md
  src/algokit_utils/transactions/transaction_composer.py
Due: format, docstrings-check

Update simulate test to use result_on_failure
  docs/markdown/autoapi/algokit_utils/transactions/transaction_composer/index.md
  src/algokit_utils/transactions/transaction_composer.py
  tests/transactions/test_transaction_composer.py
Due: format, docstrings-check

refactor: ensure typed traces are attached to composer errors
  docs/markdown/autoapi/algokit_utils/errors/logic_error/index.md
  docs/markdown/autoapi/algokit_utils/models/simulate/index.md
  docs/markdown/autoapi/algokit_utils/transactions/transaction_composer/index.md
  src/algokit_utils/errors/logic_error.py
  src/algokit_utils/models/simulate.py
  src/algokit_utils/transactions/transaction_composer.py
Due: format, docstrings-check

fix(api): refine format parameter handling in client generator template
  api/oas-generator/src/oas_generator/renderer/templates/client.py.j2
Due: none

fix(api): regenerate algod client with refined format handling
  src/algokit_algod_client/client.py
Due: format, docstrings-check

fix(serde): handle dataclass fields that shadow builtin names
  src/algokit_common/serde/_core.py
Due: format, docstrings-check

fix(algod): make LedgerAppParams schema fields optional
  src/algokit_algod_client/models/_ledger_state_delta.py
Due: format, docstrings-check

feat(test): integrate polytest mock server for API client testing
  tests/modules/conftest.py
  uv.lock
Due: format

build: add testcontainers dependency and polytest poe tasks
  pyproject.toml
Due: none

ci: add polytest validation to check-python workflow
  .github/workflows/check-python.yaml
Due: none

refactor(test): move manual algod tests to dedicated folder
  tests/modules/algod_client/manual/__init__.py
  tests/modules/algod_client/manual/test_block.py
  tests/modules/algod_client/manual/test_ledger_state_delta.py
  tests/modules/algod_client/manual/test_pending_transaction_information.py
  tests/modules/algod_client/manual/test_raw_transaction.py
  tests/modules/algod_client/manual/test_simulate_transactions.py
  tests/modules/algod_client/manual/test_suggested_params.py
Due: format

test(algod): generate polytest stubs for all algod client endpoints
  tests/modules/algod_client/test_delete_v2_catchup_catchpoint.py
  tests/modules/algod_client/test_delete_v2_ledger_sync.py
  tests/modules/algod_client/test_get_ready.py
  tests/modules/algod_client/test_get_v2_applications_application_id_box.py
  tests/modules/algod_client/test_get_v2_applications_application_id_boxes.py
  tests/modules/algod_client/test_get_v2_blocks_round_transactions_txid_proof.py
  tests/modules/algod_client/test_get_v2_deltas_round_txn_group.py
  tests/modules/algod_client/test_get_v2_deltas_txn_group_id.py
  tests/modules/algod_client/test_get_v2_devmode_blocks_offset.py
  tests/modules/algod_client/test_get_v2_experimental.py
  tests/modules/algod_client/test_get_v2_ledger_sync.py
  tests/modules/algod_client/test_get_v2_stateproofs_round.py
  tests/modules/algod_client/test_get_v2_transactions_pending_txid.py
  tests/modules/algod_client/test_post_v2_catchup_catchpoint.py
  tests/modules/algod_client/test_post_v2_devmode_blocks_offset_offset.py
  tests/modules/algod_client/test_post_v2_ledger_sync_round.py
  tests/modules/algod_client/test_post_v2_shutdown.py
  tests/modules/algod_client/test_post_v2_teal_compile.py
  tests/modules/algod_client/test_post_v2_teal_disassemble.py
  tests/modules/algod_client/test_post_v2_teal_dryrun.py
  tests/modules/algod_client/test_post_v2_transactions.py
  tests/modules/algod_client/test_post_v2_transactions_async.py
  tests/modules/algod_client/test_post_v2_transactions_simulate.py
Due: format

test(algod): implement polytest stubs aligning with TypeScript tests
  tests/modules/algod_client/test_get_genesis.py
  tests/modules/algod_client/test_get_health.py
  tests/modules/algod_client/test_get_v2_accounts_address.py
  tests/modules/algod_client/test_get_v2_accounts_address_applications_application_id.py
  tests/modules/algod_client/test_get_v2_accounts_address_assets_asset_id.py
  tests/modules/algod_client/test_get_v2_accounts_address_transactions_pending.py
  tests/modules/algod_client/test_get_v2_applications_application_id.py
  tests/modules/algod_client/test_get_v2_assets_asset_id.py
  tests/modules/algod_client/test_get_v2_blocks_round.py
  tests/modules/algod_client/test_get_v2_blocks_round_hash.py
  tests/modules/algod_client/test_get_v2_blocks_round_lightheader_proof.py
  tests/modules/algod_client/test_get_v2_blocks_round_txids.py
  tests/modules/algod_client/test_get_v2_deltas_round.py
  tests/modules/algod_client/test_get_v2_ledger_supply.py
  tests/modules/algod_client/test_get_v2_status.py
  tests/modules/algod_client/test_get_v2_status_wait_for_block_after_round.py
  tests/modules/algod_client/test_get_v2_transactions_params.py
  tests/modules/algod_client/test_get_v2_transactions_pending.py
  tests/modules/algod_client/test_get_versions.py
Due: format

fix(test): move integration tests to manual folders and fix lint ignores
  pyproject.toml
  tests/modules/algod_client/test_delete_v2_catchup_catchpoint.py
  tests/modules/algod_client/test_delete_v2_ledger_sync.py
  tests/modules/algod_client/test_get_v2_applications_application_id_box.py
  tests/modules/algod_client/test_get_v2_applications_application_id_boxes.py
  tests/modules/algod_client/test_get_v2_blocks_round_transactions_txid_proof.py
  tests/modules/algod_client/test_get_v2_deltas_round_txn_group.py
  tests/modules/algod_client/test_get_v2_deltas_txn_group_id.py
  tests/modules/algod_client/test_get_v2_devmode_blocks_offset.py
  tests/modules/algod_client/test_get_v2_experimental.py
  tests/modules/algod_client/test_get_v2_stateproofs_round.py
  tests/modules/algod_client/test_get_v2_transactions_pending_txid.py
  tests/modules/algod_client/test_post_v2_catchup_catchpoint.py
  tests/modules/algod_client/test_post_v2_devmode_blocks_offset_offset.py
  tests/modules/algod_client/test_post_v2_ledger_sync_round.py
  tests/modules/algod_client/test_post_v2_shutdown.py
  tests/modules/algod_client/test_post_v2_teal_compile.py
  tests/modules/algod_client/test_post_v2_teal_disassemble.py
  tests/modules/algod_client/test_post_v2_teal_dryrun.py
  tests/modules/algod_client/test_post_v2_transactions.py
  tests/modules/algod_client/test_post_v2_transactions_async.py
  tests/modules/algod_client/test_post_v2_transactions_simulate.py
  tests/modules/indexer_client/manual/test_search_applications.py
  tests/modules/indexer_client/manual/test_search_transactions.py
  tests/modules/kmd_client/manual/test_key_management.py
  tests/modules/kmd_client/manual/test_wallet_lifecycle.py
  tests/modules/kmd_client/test_key_management.py
Due: format

style: fix indentation in oas-generator template renderer
  api/oas-generator/src/oas_generator/renderer/engine.py
Due: none

chore: pr comments
  src/algokit_utils/applications/app_client.py
  src/algokit_utils/transactions/transaction_composer.py
  tests/applications/test_app_client.py
Due: format, docstrings-check

chore: refine fixtures for cross worker access to mock server with filelock dependency
  pyproject.toml
  tests/modules/conftest.py
  uv.lock
Due: format

feat: add graceful handling of unknown transaction types
  src/algokit_common/serde/_core.py
  src/algokit_transact/models/transaction.py
  tests/modules/transact/test_generic_transaction.py
Due: format, docstrings-check

refactor: ensure models that are not used anywhere and/or are referenced by filtered oas tags are not generated
  api/oas-generator/src/oas_generator/builder.py
  src/algokit_algod_client/client.py
  src/algokit_algod_client/models/__init__.py
  src/algokit_algod_client/models/_account_asset_holding.py
  src/algokit_algod_client/models/_account_assets_information_response.py
  src/algokit_algod_client/models/_algod_mutex_and_blocking_profiling_state.py
  src/algokit_algod_client/models/_app_call_logs.py
  src/algokit_algod_client/models/_block_logs_response.py
  src/algokit_algod_client/models/_catchpoint_abort_response.py
  src/algokit_algod_client/models/_catchpoint_start_response.py
  src/algokit_algod_client/models/_participation_key.py
  src/algokit_algod_client/models/_participation_keys_response.py
  src/algokit_algod_client/models/_post_participation_response.py
  src/algokit_indexer_client/models/__init__.py
  src/algokit_indexer_client/models/_hashtype.py
  src/algokit_kmd_client/models/__init__.py
  src/algokit_kmd_client/models/_ed25519_private_key.py
  src/algokit_kmd_client/models/_private_key.py
Due: format, docstrings-check

chore: extra fixes for unknown txn support
  src/algokit_common/serde/_core.py
  src/algokit_transact/models/transaction.py
Due: format, docstrings-check

chore: adding snapshot testing; migration notes
  MIGRATION-NOTES.md
  pyproject.toml
  tests/modules/algod_client/__snapshots__/test_get_genesis/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_accounts_address/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_accounts_address_applications_application_id/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_accounts_address_assets_asset_id/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_applications_application_id/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_assets_asset_id/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_blocks_round_hash/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_blocks_round_lightheader_proof/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_blocks_round_txids/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_ledger_supply/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_ledger_sync/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_status/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_status_wait_for_block_after_round/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_transactions_params/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_versions/test_basic_request_and_response_validation.json
  tests/modules/algod_client/test_get_genesis.py
  tests/modules/algod_client/test_get_v2_accounts_address.py
  tests/modules/algod_client/test_get_v2_accounts_address_applications_application_id.py
  tests/modules/algod_client/test_get_v2_accounts_address_assets_asset_id.py
  tests/modules/algod_client/test_get_v2_applications_application_id.py
  tests/modules/algod_client/test_get_v2_assets_asset_id.py
  tests/modules/algod_client/test_get_v2_blocks_round_hash.py
  tests/modules/algod_client/test_get_v2_blocks_round_lightheader_proof.py
  tests/modules/algod_client/test_get_v2_blocks_round_txids.py
  tests/modules/algod_client/test_get_v2_ledger_supply.py
  tests/modules/algod_client/test_get_v2_ledger_sync.py
  tests/modules/algod_client/test_get_v2_status.py
  tests/modules/algod_client/test_get_v2_status_wait_for_block_after_round.py
  tests/modules/algod_client/test_get_v2_transactions_params.py
  tests/modules/algod_client/test_get_versions.py
  tests/modules/conftest.py
  uv.lock
Due: format

chore: linter tweaks
  docs/markdown/autoapi/algokit_utils/transactions/transaction_composer/index.md
  src/algokit_transact/models/transaction.py
Due: format, docstrings-check

chore: sqlite as default value from spec; retry mechanism for generated clients; minor alignment with latest on ts
  api/oas-generator/src/oas_generator/builder.py
  api/oas-generator/src/oas_generator/renderer/templates/client.py.j2
  api/oas-generator/src/oas_generator/renderer/templates/config.py.j2
  api/specs/kmd.oas3.json
  src/algokit_algod_client/client.py
  src/algokit_algod_client/config.py
  src/algokit_common/constants.py
  src/algokit_indexer_client/client.py
  src/algokit_indexer_client/config.py
  src/algokit_kmd_client/client.py
  src/algokit_kmd_client/config.py
  src/algokit_kmd_client/models/_create_wallet_request.py
  src/algokit_utils/accounts/kmd_account_manager.py
  tests/modules/algod_client/test_get_v2_accounts_address_transactions_pending.py
  tests/modules/algod_client/test_get_v2_blocks_round.py
  tests/modules/algod_client/test_get_v2_deltas_round.py
  tests/modules/algod_client/test_get_v2_transactions_pending.py
  tests/modules/indexer_client/manual/__init__.py
  tests/modules/kmd_client/manual/__init__.py
  tests/modules/kmd_client/manual/test_key_management.py
  tests/modules/kmd_client/manual/test_wallet_lifecycle.py
Due: format, docstrings-check

refactor: further minor composer alignment with ts equivalent (#221)
  docs/markdown/autoapi/algokit_utils/errors/logic_error/index.md
  docs/markdown/autoapi/algokit_utils/models/simulate/index.md
  docs/markdown/autoapi/algokit_utils/transactions/transaction_composer/index.md
  src/algokit_utils/applications/app_client.py
  src/algokit_utils/errors/logic_error.py
  src/algokit_utils/models/simulate.py
  src/algokit_utils/transactions/transaction_composer.py
  tests/applications/test_app_client.py
  tests/transactions/test_transaction_composer.py
Due: format, docstrings-check

chore: add missing py.typed file
  src/algokit_abi/py.typed
Due: none

feat: support updating StructType's in ARC56Contract to support client generator
  src/algokit_abi/arc56.py
Due: format, docstrings-check

build: fix requires-python to be `>=3.10,<4`, previously only matched 3.10.*
  pyproject.toml
  uv.lock
Due: none

chore: refresh docs
  docs/markdown/autoapi/algokit_utils/applications/enums/index.md
  docs/markdown/autoapi/algokit_utils/protocols/typed_clients/index.md
  docs/markdown/autoapi/algokit_utils/transactions/composer_resources/index.md
  docs/markdown/autoapi/algokit_utils/transactions/fee_coverage/index.md
Due: none

feat: support fetching oas specs directly from oas-generator repo
  .gitignore
  api/oas-generator/README.md
  api/oas-generator/src/oas_generator/cli.py
  api/oas-generator/src/oas_generator/loader.py
  api/specs/algod.oas3.json
  api/specs/indexer.oas3.json
  api/specs/kmd.oas3.json
  pyproject.toml
Due: none

chore: integrate docker image from fork; shared action
  .github/workflows/check-python.yaml
  tests/modules/conftest.py
Due: format
