Repository algorandfoundation/algokit-utils-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, docstrings-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        description: "Run 'ruff format' for extremely fast Python formatting"
        entry: uv run ruff format
        language: system
        types: [python]
        args: []
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"
        pass_filenames: false
        files: "^(src|tests)/"
      - id: generate-api-clients
        name: generate-api-clients
        description: "Generate API clients before linting"
        entry: uv run poe generate-api-clients
        language: system
        types_or: [python, pyi]
        args: []
        require_serial: true
        pass_filenames: false
        files: "^(src|tests)/"
      - id: lint
        name: lint
        description: "`mypy` and 'ruff' will check Python types for correctness"
        entry: uv run poe lint
        language: system
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"
        pass_filenames: false
        files: "^(src|tests)/"
      - id: docs
        name: docs
        description: "Build documentation (always passes)"
        entry: bash -c 'uv run poe docs || true'
        language: system
        pass_filenames: false
        always_run: true
        verbose: true
      - id: docstrings-check
        name: docstrings-check
        description: "Check docstrings for correctness"
        entry: uv run poe docstrings-check
        language: system
        types: [python]
        files: "^(src)/"
      - id: test
        name: test
        description: "Run pytest as final validation"
        entry: uv run pytest
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

feat: crypto package
  pyproject.toml
  src/algokit_crypto/__init__.py
  src/algokit_crypto/ed25519.py
  src/algokit_crypto/hd.py
  src/algokit_crypto/py.typed
  tests/modules/transact/test_signer.py
  uv.lock
Due: format, docstrings-check

feat: wrapped secrets
  src/algokit_crypto/__init__.py
  src/algokit_crypto/ed25519.py
  src/algokit_crypto/hash.py
  src/algokit_crypto/hd.py
  src/algokit_crypto/signing.py
  tests/modules/crypto/__init__.py
  tests/modules/crypto/test_signing.py
Due: format, docstrings-check

chore: fix lint
  pyproject.toml
  src/algokit_crypto/__init__.py
  src/algokit_crypto/hash.py
  src/algokit_crypto/hd.py
  src/algokit_crypto/signing.py
  src/algokit_transact/__init__.py
Due: format, docstrings-check

chore: update xhd, use ExceptionGroup
  pyproject.toml
  src/algokit_crypto/signing.py
  tests/modules/crypto/test_signing.py
Due: format, docstrings-check

ci: add devportal docs publishing workflow with static example generation
  .github/actions/publish-docs/action.yml
  .github/workflows/publish-devportal-docs.yml
  docs/.gitignore
  docs/astro.config.mjs
  docs/package-lock.json
  docs/package.json
  docs/pnpm-lock.yaml
  docs/scripts/generate-examples-mdx.ts
  docs/sidebar.config.json
  docs/src/loaders/examples-loader.ts
  docs/src/pages/_examples/[...slug].astro
  docs/src/pages/_examples/[category]/index.astro
  docs/src/pages/_examples/index.astro
  pyproject.toml
Due: none

chore: removed old examples astro pages
  docs/src/pages/_examples/[...slug].astro
  docs/src/pages/_examples/[category]/index.astro
  docs/src/pages/_examples/index.astro
Due: none

chore: removed comments
  docs/package.json
  docs/src/content.config.ts
Due: none

5.0.0-alpha.18
  pyproject.toml
Due: none

chore: rm hash.py
  src/algokit_crypto/__init__.py
  src/algokit_crypto/hash.py
Due: format, docstrings-check

chore: use bytearray
  src/algokit_crypto/signing.py
Due: format, docstrings-check

chore: update xhd
  pyproject.toml
  src/algokit_crypto/hd.py
  src/algokit_crypto/signing.py
  tests/modules/transact/test_signer.py
  uv.lock
Due: format, docstrings-check

chore: fix BaseException
  src/algokit_crypto/signing.py
Due: format, docstrings-check

fix: seed size
  src/algokit_crypto/hd.py
Due: format, docstrings-check

chore: addressed PR comments
  .github/actions/publish-docs/action.yml
  .github/workflows/publish-devportal-docs.yml
  docs/package.json
  docs/pnpm-lock.yaml
  docs/tsconfig.json
  pyproject.toml
Due: none

ci: add devportal docs publishing workflow with static example generation (#275)
  .github/actions/publish-docs/action.yml
  .github/workflows/publish-devportal-docs.yml
  docs/.gitignore
  docs/astro.config.mjs
  docs/package-lock.json
  docs/package.json
  docs/pnpm-lock.yaml
  docs/scripts/generate-examples-mdx.ts
  docs/sidebar.config.json
  docs/src/content.config.ts
  docs/src/loaders/examples-loader.ts
  docs/src/pages/examples/[...slug].astro
  docs/src/pages/examples/[category]/index.astro
  docs/src/pages/examples/index.astro
  docs/tsconfig.json
  pyproject.toml
Due: none

5.0.0-alpha.19
  pyproject.toml
Due: none

chore: bump deps
  examples/uv.lock
  pyproject.toml
  uv.lock
Due: none

5.0.0-alpha.20
  pyproject.toml
Due: none

chore: rm hash
  src/algokit_crypto/hash.py
Due: format, docstrings-check

feat: adds runtime validation using Pydantic schemas
  .github/workflows/build-python.yaml
  .gitignore
  README.md
  api/oas-generator/VALIDATION.md
  pyproject.toml
  scripts/generate_schemas.py
  tests/modules/test_schema_validation.py
  uv.lock
Due: format

fix: unblock check-python after alpha merge
  pyproject.toml
  src/algokit_abi/abi.py
  src/algokit_utils/applications/app_client.py
  src/algokit_utils/applications/app_factory.py
  src/algokit_utils/config.py
  tests/applications/test_app_factory.py
  tests/modules/transact/test_generic_transaction.py
  tests/transactions/test_fee_coverage.py
Due: format, docstrings-check

chore: deduplicate RootModel templates, fix missing newlines at EOF
  .github/actions/publish-docs/action.yml
  .github/workflows/publish-devportal-docs.yml
  docs/package.json
  docs/scripts/generate-examples-mdx.ts
  docs/sidebar.config.json
  docs/src/content.config.ts
  scripts/generate_schemas.py
Due: none

fix: update snapshots for enum serialization (repr → value)
  tests/modules/algod_client/__snapshots__/test_get_v2_accounts_address/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_accounts_address_applications_application_id/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_accounts_address_assets_asset_id/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_ledger_supply/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_status/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_status_wait_for_block_after_round/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_transactions_params/test_basic_request_and_response_validation.json
Due: none

5.0.0-alpha.21
  pyproject.toml
Due: none

chore: use xhd pypi package
  pyproject.toml
  uv.lock
Due: none

chore: ignore vulns
  .github/workflows/check-python.yaml
  pyproject.toml
Due: none

chore: add exceptiongroup dep
  .github/workflows/check-python.yaml
  pyproject.toml
  uv.lock
Due: none

chore: PR feedback
  pyproject.toml
  src/algokit_crypto/__init__.py
  src/algokit_crypto/hd.py
  src/algokit_crypto/signing.py
Due: format, docstrings-check

docs: fix docstring
  src/algokit_crypto/hd.py
Due: format, docstrings-check

chore: bytes -> bytearray in callable
  src/algokit_crypto/hd.py
Due: format, docstrings-check

chore: rm duplicate const
  src/algokit_crypto/signing.py
Due: format, docstrings-check

chore: fix import sorting order in signing module
  src/algokit_crypto/signing.py
Due: format, docstrings-check

feat: algokit-crypto (#266)
  .github/workflows/check-python.yaml
  pyproject.toml
  src/algokit_crypto/__init__.py
  src/algokit_crypto/ed25519.py
  src/algokit_crypto/hd.py
  src/algokit_crypto/py.typed
  src/algokit_crypto/signing.py
  src/algokit_transact/__init__.py
  tests/modules/crypto/__init__.py
  tests/modules/crypto/test_signing.py
  tests/modules/transact/test_signer.py
  uv.lock
Due: format, docstrings-check

5.0.0-alpha.22
  pyproject.toml
Due: none
