Repository algorandfoundation/algokit-utils-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, docstrings-check

format:
  name: format
  description: Run 'ruff format' for extremely fast Python formatting
  entry: uv run ruff format
  language: system
  args: []
  require_serial: true
  additional_dependencies: []
  minimum_pre_commit_version: 2.9.2
  pass_filenames: false

docstrings-check:
  name: docstrings-check
  description: Check docstrings for correctness
  entry: uv run poe docstrings-check
  language: system

chore: use polytest transaction data for tests
  .github/workflows/check-python.yaml
  src/algokit_common/serde/_core.py
  tests/modules/transact/_helpers.py
  tests/modules/transact/common.py
  tests/modules/transact/conftest.py
  tests/modules/transact/data/test_data.json
  tests/modules/transact/test_app_call.py
  tests/modules/transact/test_asset_config.py
  tests/modules/transact/test_asset_freeze.py
  tests/modules/transact/test_asset_transfer.py
  tests/modules/transact/test_heartbeat.py
  tests/modules/transact/test_key_registration.py
  tests/modules/transact/test_payment.py
  tests/modules/transact/test_state_proof.py
  tests/modules/transact/test_transaction_group.py
  tests/modules/transact/transaction_asserts.py
  tests/modules/transact/ts_data.py
Due: format, docstrings-check

chore: split tests to keep polytest happy
  .github/workflows/build-python.yaml
  tests/modules/transact/multisig/__init__.py
  tests/modules/transact/multisig/test_app_call.py
  tests/modules/transact/multisig/test_asset_config.py
  tests/modules/transact/multisig/test_asset_transfer.py
  tests/modules/transact/multisig/test_heartbeat.py
  tests/modules/transact/multisig/test_key_registration.py
  tests/modules/transact/multisig/test_payment.py
  tests/modules/transact/multisig/test_state_proof.py
  tests/modules/transact/test_app_call.py
  tests/modules/transact/test_asset_config.py
  tests/modules/transact/test_asset_freeze.py
  tests/modules/transact/test_asset_transfer.py
  tests/modules/transact/test_generic_transaction.py
  tests/modules/transact/test_heartbeat.py
  tests/modules/transact/test_key_registration.py
  tests/modules/transact/test_payment.py
  tests/modules/transact/test_state_proof.py
  tests/modules/transact/test_transaction.py
  tests/modules/transact/test_transaction_group.py
  tests/modules/transact/validate_transaction/__init__.py
  tests/modules/transact/validate_transaction/test_app_call.py
  tests/modules/transact/validate_transaction/test_asset_config.py
  tests/modules/transact/validate_transaction/test_asset_freeze.py
  tests/modules/transact/validate_transaction/test_asset_transfer.py
  tests/modules/transact/validate_transaction/test_key_registration.py
  tests/modules/transact/validate_transaction/test_payment.py
Due: format

feat: add kmd polytest tests
  tests/modules/kmd_client/__snapshots__/test_get_v1_wallets/test_basic_request_and_response_validation.json
  tests/modules/kmd_client/conftest.py
  tests/modules/kmd_client/fixtures.py
  tests/modules/kmd_client/test_delete_v1_key.py
  tests/modules/kmd_client/test_delete_v1_multisig.py
  tests/modules/kmd_client/test_get_swagger_json.py
  tests/modules/kmd_client/test_get_v1_wallets.py
  tests/modules/kmd_client/test_get_versions.py
  tests/modules/kmd_client/test_post_v1_key.py
  tests/modules/kmd_client/test_post_v1_key_export.py
  tests/modules/kmd_client/test_post_v1_key_import.py
  tests/modules/kmd_client/test_post_v1_key_list.py
  tests/modules/kmd_client/test_post_v1_master_key_export.py
  tests/modules/kmd_client/test_post_v1_multisig_export.py
  tests/modules/kmd_client/test_post_v1_multisig_import.py
  tests/modules/kmd_client/test_post_v1_multisig_list.py
  tests/modules/kmd_client/test_post_v1_multisig_sign.py
  tests/modules/kmd_client/test_post_v1_multisig_signprogram.py
  tests/modules/kmd_client/test_post_v1_program_sign.py
  tests/modules/kmd_client/test_post_v1_transaction_sign.py
  tests/modules/kmd_client/test_post_v1_wallet.py
  tests/modules/kmd_client/test_post_v1_wallet_info.py
  tests/modules/kmd_client/test_post_v1_wallet_init.py
  tests/modules/kmd_client/test_post_v1_wallet_release.py
  tests/modules/kmd_client/test_post_v1_wallet_rename.py
  tests/modules/kmd_client/test_post_v1_wallet_renew.py
Due: format

fix: ensure bare updates work, added test for bare lifecycle methods
  src/algokit_utils/applications/app_client.py
  tests/applications/test_app_factory.py
Due: format, docstrings-check

fix: gracefully handle when a signer is no available
  src/algokit_utils/transactions/transaction_composer.py
  tests/transactions/test_transaction_composer.py
Due: format, docstrings-check

chore: refresh docs
  docs/markdown/autoapi/algokit_utils/applications/app_client/index.md
  docs/markdown/autoapi/algokit_utils/transactions/transaction_sender/index.md
Due: none

feat: further MultisigAccount alignment with ts variant (#258)
  src/algokit_transact/multisig.py
  tests/modules/kmd_client/test_delete_v1_key.py
  tests/modules/kmd_client/test_delete_v1_multisig.py
  tests/modules/kmd_client/test_post_v1_key.py
  tests/modules/kmd_client/test_post_v1_key_list.py
  tests/modules/kmd_client/test_post_v1_multisig_list.py
  tests/modules/kmd_client/test_post_v1_wallet_info.py
  tests/modules/kmd_client/test_post_v1_wallet_rename.py
  tests/modules/transact/test_multisig_account.py
  uv.lock
Due: format, docstrings-check

feat: return bytes from gatherSignatures to prevent double encoding and align with algosdk
  docs/markdown/autoapi/algokit_utils/transactions/transaction_composer/index.md
  src/algokit_transact/logicsig.py
  src/algokit_transact/multisig.py
  src/algokit_transact/ops/validate.py
  src/algokit_transact/signer.py
  src/algokit_utils/transactions/transaction_composer.py
  tests/transactions/test_transaction_composer.py
Due: format, docstrings-check

fix: correct stpf type
  src/algokit_transact/models/state_proof.py
Due: format, docstrings-check

chore(ci): migrate PyPI publishing to OIDC trusted publishing
  .github/workflows/cd.yaml
Due: none

chore(ci): switch to semantic-release GitHub Action for CD workflow
  .github/workflows/cd.yaml
Due: none

chore(deps): upgrade python-semantic-release from v7 to v10
  .github/workflows/cd.yaml
  pyproject.toml
  uv.lock
Due: none

chore(tests): updated snapshots
  tests/modules/algod_client/__snapshots__/test_get_v2_accounts_address/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_accounts_address_applications_application_id/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_accounts_address_assets_asset_id/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_ledger_supply/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_status/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_status_wait_for_block_after_round/test_basic_request_and_response_validation.json
  tests/modules/algod_client/__snapshots__/test_get_v2_transactions_params/test_basic_request_and_response_validation.json
Due: none

chore: add algo25 examples and verification
  examples/abi/verify-all.sh
  examples/algo25/01_mnemonic_from_seed.py
  examples/algo25/02_seed_from_mnemonic.py
  examples/algo25/03_secret_key_to_mnemonic.py
  examples/algo25/04_master_derivation_key.py
  examples/algo25/05_error_handling.py
  examples/algo25/verify-all.sh
Due: none

chore: add indexer_client examples and verification
  examples/common/verify-all.sh
  examples/indexer_client/01_health_check.py
  examples/indexer_client/02_account_lookup.py
  examples/indexer_client/03_account_assets.py
  examples/indexer_client/04_account_applications.py
  examples/indexer_client/05_account_transactions.py
  examples/indexer_client/06_transaction_lookup.py
  examples/indexer_client/07_transaction_search.py
  examples/indexer_client/08_asset_lookup.py
  examples/indexer_client/09_asset_balances.py
  examples/indexer_client/10_asset_transactions.py
  examples/indexer_client/11_application_lookup.py
  examples/indexer_client/12_application_logs.py
  examples/indexer_client/13_application_boxes.py
  examples/indexer_client/14_block_lookup.py
  examples/indexer_client/15_block_headers.py
  examples/indexer_client/16_pagination.py
  examples/indexer_client/verify-all.sh
  examples/shared/utils.py
Due: none

chore: add kmd_client examples and verification
  examples/abi/__init__.py
  examples/algo25/__init__.py
  examples/algod_client/__init__.py
  examples/algorand_client/__init__.py
  examples/common/__init__.py
  examples/indexer_client/__init__.py
  examples/kmd_client/01_version.py
  examples/kmd_client/02_wallet_management.py
  examples/kmd_client/03_wallet_sessions.py
  examples/kmd_client/04_key_generation.py
  examples/kmd_client/05_key_import_export.py
  examples/kmd_client/06_key_listing_deletion.py
  examples/kmd_client/07_master_key_export.py
  examples/kmd_client/08_multisig_setup.py
  examples/kmd_client/09_multisig_management.py
  examples/kmd_client/10_transaction_signing.py
  examples/kmd_client/11_multisig_signing.py
  examples/kmd_client/12_program_signing.py
  examples/kmd_client/13_multisig_program_signing.py
  examples/kmd_client/__init__.py
  examples/kmd_client/verify-all.sh
  examples/transact/__init__.py
  examples/transact/verify-all.sh
Due: none

chore: add common examples and verification
  examples/common/01_address_basics.py
  examples/common/02_address_encoding.py
  examples/common/03_array_utilities.py
  examples/common/04_constants.py
  examples/common/05_crypto_hash.py
  examples/common/06_logger.py
  examples/common/07_json_bigint.py
  examples/common/08_msgpack.py
  examples/common/09_primitive_codecs.py
  examples/common/10_composite_codecs.py
  examples/common/11_model_codecs.py
  examples/common/12_sourcemap.py
  examples/common/verify-all.sh
Due: none

chore: add algod_client examples and verification
  examples/algod_client/01_node_health_status.py
  examples/algod_client/02_version_genesis.py
  examples/algod_client/03_ledger_supply.py
  examples/algod_client/04_account_info.py
  examples/algod_client/05_transaction_params.py
  examples/algod_client/06_send_transaction.py
  examples/algod_client/07_pending_transactions.py
  examples/algod_client/08_block_data.py
  examples/algod_client/09_asset_info.py
  examples/algod_client/10_application_info.py
  examples/algod_client/11_application_boxes.py
  examples/algod_client/12_teal_compile.py
  examples/algod_client/13_simulation.py
  examples/algod_client/14_state_deltas.py
  examples/algod_client/15_transaction_proof.py
  examples/algod_client/16_lightblock_proof.py
  examples/algod_client/17_state_proof.py
  examples/algod_client/18_devmode_timestamp.py
  examples/algod_client/19_sync_round.py
  examples/algod_client/verify-all.sh
Due: none

chore: add algorand_client examples and verification
  examples/algorand_client/01_client_instantiation.py
  examples/algorand_client/02_algo_amount.py
  examples/algorand_client/03_signer_config.py
  examples/algorand_client/04_params_config.py
  examples/algorand_client/05_account_manager.py
  examples/algorand_client/06_send_payment.py
  examples/algorand_client/07_send_asset_ops.py
  examples/algorand_client/08_send_app_ops.py
  examples/algorand_client/09_create_transaction.py
  examples/algorand_client/10_transaction_composer.py
  examples/algorand_client/11_asset_manager.py
  examples/algorand_client/12_app_manager.py
  examples/algorand_client/13_app_deployer.py
  examples/algorand_client/14_client_manager.py
  examples/algorand_client/15_error_transformers.py
  examples/algorand_client/verify-all.sh
Due: none

chore: fix verify-all examples scripts
  examples/abi/verify-all.sh
  examples/algo25/verify-all.sh
  examples/algod_client/verify-all.sh
  examples/common/verify-all.sh
  examples/indexer_client/verify-all.sh
  examples/kmd_client/verify-all.sh
  examples/transact/verify-all.sh
Due: none

chore: remove algokit-examples from root project dependencies
  .github/workflows/verify-examples.yaml
  examples/uv.lock
  pyproject.toml
  uv.lock
Due: none

chore: ignore low-severity pip path traversal (GHSA-6vgw-5pg2-w6jp) in pip-audit
  .github/workflows/check-python.yaml
Due: none

chore: remove redundant run-example.sh wrapper script
  examples/scripts/run-example.sh
Due: none

chore: add transact examples and verification
  examples/__init__.py
  examples/transact/01_payment_transaction.py
  examples/transact/02_payment_close.py
  examples/transact/03_asset_create.py
  examples/transact/04_asset_transfer.py
  examples/transact/05_asset_freeze.py
  examples/transact/06_asset_clawback.py
  examples/transact/07_atomic_group.py
  examples/transact/08_atomic_swap.py
  examples/transact/09_single_sig.py
  examples/transact/10_multisig.py
  examples/transact/11_logic_sig.py
  examples/transact/12_fee_calculation.py
  examples/transact/13_encoding_decoding.py
  examples/transact/14_app_call.py
  examples/transact/verify-all.sh
Due: none

add examples README.md and centralize PYTHONPATH setup in run.sh
  examples/README.md
  examples/abi/verify-all.sh
  examples/algo25/verify-all.sh
  examples/algod_client/verify-all.sh
  examples/algorand_client/verify-all.sh
  examples/common/verify-all.sh
  examples/indexer_client/verify-all.sh
  examples/kmd_client/verify-all.sh
  examples/run.sh
  examples/transact/verify-all.sh
  examples/verify-all.sh
Due: none

chore(deps): add pip constraint to dev dep for audit failure
  pyproject.toml
  uv.lock
Due: none

feat: add deterministic resource population ordering
  .gitignore
  src/algokit_utils/transactions/transaction_composer.py
  tests/artifacts/resource-packer-puya/ExternalAppPuya.approval.puya.map
  tests/artifacts/resource-packer-puya/ExternalAppPuya.approval.teal
  tests/artifacts/resource-packer-puya/ExternalAppPuya.arc56.json
  tests/artifacts/resource-packer-puya/ExternalAppPuya.clear.puya.map
  tests/artifacts/resource-packer-puya/ExternalAppPuya.clear.teal
  tests/artifacts/resource-packer-puya/ResourcePackerPuya.approval.puya.map
  tests/artifacts/resource-packer-puya/ResourcePackerPuya.approval.teal
  tests/artifacts/resource-packer-puya/ResourcePackerPuya.arc56.json
  tests/artifacts/resource-packer-puya/ResourcePackerPuya.clear.puya.map
  tests/artifacts/resource-packer-puya/ResourcePackerPuya.clear.teal
  tests/artifacts/resource-packer-puya/contract.py
  tests/transactions/test_resource_packing.py
Due: format, docstrings-check

docs: added v5 migration guide
  docs/v5-migration.md
Due: none

fix: configures semantic release for alpha branch (#261)
  .github/workflows/check-python.yaml
  pyproject.toml
Due: none

chore: fix linting errors
  src/algokit_utils/transactions/transaction_composer.py
  tests/transactions/test_resource_packing.py
Due: format, docstrings-check

5.0.0-alpha.16
  pyproject.toml
Due: none

fix: replace PSR Docker action with CLI and standardize CI/CD on shared config (#269)
  .github/actions/publish-docs/action.yml
  .github/workflows/build-python.yaml
  .github/workflows/cd.yaml
  .github/workflows/check-docs.yaml
  .github/workflows/check-python.yaml
  .github/workflows/verify-examples.yaml
Due: none

docs: integrate examples into Starlight documentation (#272)
  docs/astro.config.mjs
  docs/src/components/DescriptionRenderer.astro
  docs/src/content.config.ts
  docs/src/content/docs/tutorials/quick-start.md
  docs/src/loaders/examples-loader.ts
  docs/src/pages/examples/[...slug].astro
  docs/src/pages/examples/[category]/index.astro
  docs/src/pages/examples/index.astro
  examples/uv.lock
  uv.lock
Due: none

5.0.0-alpha.17
  pyproject.toml
Due: none

fix: post-rebase cleanup (docstring fixes, type corrections in tests, kmd refactor, version bumps)
  examples/uv.lock
  src/algokit_utils/__init__.py
  src/algokit_utils/accounts/kmd_account_manager.py
  src/algokit_utils/applications/app_client.py
  tests/applications/test_app_factory.py
  uv.lock
Due: format, docstrings-check

Path conditions:
  format: any of: ^(src|tests)/ and \.py$
  docstrings-check: any of: ^(src)/ and \.py$
